name: Manage Issues and PRs
on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
jobs:
  add-to-project:
    uses: zaphiro-technologies/github-workflows/.github/workflows/manage-issues.yaml@main
    secrets: inherit
